.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

#delete-form {
  display: inline;
}

.form_page {
  width: 40%;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 19px;
}

.form_page h1 {
  padding-bottom: 4px;
  font-size: 55px;
}

.navbar-default {
  padding-left: 15px;
  padding-right: 15px;
}

.photos {
  padding-bottom: 15px;
}

.moveLower {
  margin-top: 29px;
}
